[Desktop Entry]
Name=hyldap
Exec=/usr/bin/python3 /opt/hyldap_client/exec/whoami.py &
Type=Application
Terminal=false
MimeType=x-scheme-handler/hyldap;
